@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
  @apply bg-white text-gray-900 transition-colors duration-300 ease-in-out;
}

/* Modo oscuro aplicado al root */
.dark {
  @apply bg-gray-900 text-gray-100;
}

a {
  @apply text-blue-600 hover:underline;
}
.dark a {
  @apply text-blue-400 hover:text-blue-300;
}
